@import url("./Search.scss");
@import url("./SearchResults.scss");
@import url("./User.scss");
@import url("./Theme.scss");

#root {
  transition: all 0.2s ease-in-out;
}

section {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 100dvh !important;
  transition: all 0.4s ease-in-out;
  .logo {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoIcon {
      display: flex;
      gap: 10px;
      align-items: center;
      h1 {
        margin: 0;
      }
      svg {
        width: 50px;
        height: 50px;
      }
    }
    .theme {
      border-bottom: 2px solid #ae445a;
      height: fit-content;
      padding: 2px 4px;
      svg {
        width: 25px;
        height: 25px !important;
        fill: #ae445a;
      }
    }
  }
}
.load {
  border: 3px solid #ae445a;
  border-left: 3px solid transparent;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  animation: spinner 1s linear infinite;
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
.error {
  margin: auto !important;
}
.notFound {
  margin: auto !important;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  width: 500px;
  height: 500px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  button {
    display: block;
    margin: 10px auto;
    cursor: pointer;
    border: 2px solid #ae445a;
    border-radius: 10px !important;
    outline: 0;
    font-size: 1.2rem;
    background: 0;
    padding: 7px 20px;
  }
}
@media (min-width: 768px) {
  section {
    .results {
      padding: 10px;
    }
  }
}
