.dark {
  background: #0b192c;
  .search {
    background-color: #1e3e62;
  }
  .user {
    .btns {
      span {
        background: #ae445a;
        color: #fff;
      }
    }
  }
}
.light {
  background: #d9eafd;
  color: #000;
  .theme {
    border-bottom: 2px solid #ff6500 !important;
    svg {
      fill: #ff6500 !important;
    }
  }
  .search {
    background-color: #a294f9;
    h1,
    p,
    input::placeholder {
      color: #fff;
    }
  }
  .user {
    .btns {
      span {
        background: #ff6500;
        color: #fff;
      }
    }
    .bottom {
      .nav {
        button {
          color: #000;
        }
      }
    }
    .nav-info {
      .info a {
        h2 {
          color: #ff6500 !important;
        }
        p {
          color: #606060 !important;
        }
        .xtra span {
          color: #000 !important;
          svg {
            color: #ff6500;
          }
        }
      }
    }
  }
  .load {
    border: 3px solid #ff6500;
    border-left: 3px solid transparent;
  }
}
