.dark {
  background: #0b192c;
  .search {
    background-color: #1e3e62;
    .recents {
      background: #1e3e62;
      .recent {
        &:hover {
          background: #053472;
        }
      }
    }
  }
  .user {
    h1 a {
      color: #fff;
    }
    .btns {
      span {
        background: #ae445a;
        color: #fff;
      }
    }
    .bottom {
      .nav {
        button {
          color: #fff;
        }
      }
      .nav-info {
        .info a {
          h2 {
            color: #ae445a !important;
          }
          p {
            color: #a5a5a5 !important;
          }
          .xtra span {
            color: #fff !important;
            svg {
              color: #ae445a;
            }
          }
        }
      }
    }
  }
}
.light {
  background: #d9eafd;
  color: #000;
  .theme {
    border-bottom: 2px solid #ff6500 !important;
    svg {
      fill: #ff6500 !important;
    }
  }
  .search {
    background-color: #a294f9;
    h1,
    p,
    input::placeholder {
      color: #fff;
    }
    .recents {
      background: #ffffff;
      .recent {
        color: #000;
        &:hover {
          background: #d9e7fa;
        }
      }
    }
  }
  .user {
    h1 a {
      color: #000;
    }
    .btns {
      span {
        background: #ff6500;
        color: #fff;
      }
    }
    .bottom {
      .nav {
        button {
          color: #000;
        }
      }
      .nav-info {
        .info a {
          h2 {
            color: #ff6500 !important;
          }
          p {
            color: #606060 !important;
          }
          .xtra span {
            color: #000 !important;
            svg {
              color: #ff6500;
            }
          }
        }
      }
    }
  }
  .load {
    border: 3px solid #ff6500;
    border-left: 3px solid transparent;
  }
}
